html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

h2{
    color: #fff;
}
.portfolioContent {
    max-width:1400px;
}
.avatarImg{
    width:100%;
}

.backend {
    width:90%;
}

.frontend{
    width:100%;
}

.framework {
    width:90%;
}

.design {
    width:95%;
}
.itSupport{
    width: 100%;
}

.english {
    height:24px;width:100%;
}

.spanish {
    height:24px;width:55%;
}

.german {
    height:24px;width:25%;
}