{% assign author = site.data.about[page.author] %}
<div class="container">

  <div id="visitor">
    <div id="namakamu" class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
  </div>
  
    <div class="col">
        <h1 class="text-info">{{page.title1}}</h1>
    </div>

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Halo🙏</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="nama">Nama Lengkap 🍜</label>
            <input type="text" autocomplete="off" id="nama" name="nama" class="form-control" placeholder="Nama Lengkap Anda">
            <input type="text" id="namamu" name="namamu" class="form-control" placeholder="" disabled>
            <small id="emailHelp" class="form-text text-muted">Isi nama lengkap anda. ⌨📋</small>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="submit" class="btn btn-primary">Submit 🔓</button>
      </div>
    </div>
  </div>
</div>


    <div class="row justify-content-center">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="card mb-3" style="max-width: 550px; background-color: var(--card-header-color);">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div id="image-profile">
              </div>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12">
              <div class="card-about" id="card-github">
                <!-- <h5 id="card-title" class="card-title ml-2">{{author.name}}</h5>
                <small class="text-primary ml-2 blockquote-footer">{{author.tagline}}</small>
                <p class="card-text">{{author.bio}}.</p> -->
                
              </div>
                <div id="author-work">
                    <p class="card-text ml-2"><small class="text-warning">{{author.work}} : </small><br/>
                    <span class="my-work text-white">@My-Work</span>&nbsp; <i class='fas fa-laptop text-success'></i> : <a href="{{author.new1}}" target="_blank" class="text-warning">Syoobe Marketplace</a><br/>
                    <span class="my-work text-white">@My-Work</span>&nbsp; <i class='fas fa-laptop text-success'></i> : <a href="{{author.new2}}" target="_blank" class="text-warning">Syoobe Blog & Media</a><br/>
                    <span class="my-work text-white">@My-Work</span>&nbsp; <i class='fas fa-laptop text-success'></i> : <a href="{{author.old}}" target="_blank" class="text-warning">OurCitrus</a><br/>
                    <span class="my-blog text-white">@My Blog</span>&nbsp; <i class='fas fa-code text-danger'></i> : <a href="{{author.myblog}}" target="_blank" class="text-warning">Codesyariah Blog</a>
                    <br><br>
                    <button class="btn btn-success btn-sm" id="ShowRepo">My Repo</button> 
                    <button class="btn btn-primary btn-sm text-white ml-2" id="ShowSkill">My Skill</button>
                    <br><br>
                    </p>  
                </div>

            </div>
          </div>
        </div>
    </div>
    <hr>



<div class="col-md-12 col-xs-12 col-sm-12 ml-2 mt-3">
  <ul class="list-group list-group-flush" id="MyRepo">
    
  </ul>
</div>



