
    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <script type="text/javascript" src="{{'/public/js/MyJs.js' | absolute_url }}"></script>

    <script type="text/javascript" src="{{'/public/js/progressJs.js' | absolute_url }}"></script>

    <script type="text/javascript" src="{{ '/public/js/MyResume.js' | absolute_url }} "></script>
    <script type="text/javascript" src="{{ '/public/js/accept.js' | absolute_url }}"></script>
    <script type="text/javascript">
        // askYou('{{site.url}}');
    </script>
    <script type="text/javascript" src="{{ '/public/js/emoji.js' | absolute_url }}"></script>
    <script type="text/javascript" src="{{ '/public/js/active.js' | absolute_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function(){
                $('#post-list').fadeIn(1500).html("<span class='text-start'>Blog List</span> : Setiap tulisan di blog ini akan membahas seputar trend perkembangan budaya berteknologi di era yang ku lalui.") 
            }, 1500);
        })

        activeNav("{{site.url}}");
        $('.space').html('<i class="fas fa-user-astronaut"></i>').fadeIn(1000);
        // $('.theme-switch').html('🚀');

        // $('.theme-switch').css({
        //     'font-size': '2.5rem'
        // })
        // $('.theme-switch').hover(function(){
        //     $('.theme-switch').css({
        //         'font-size': '2.5rem',
        //         'margin-left': '1.5rem',
        //         'cursor': 'pointer'
        //     })
        // }, function(){
        //     $(this).css({
        //         '-webkit-transform': 'scaleX(-1)',
        //         'transform': 'scaleX(-1)',
        //         'animation': 'shake 0.5s',
        //         'animation-iteration-count': 'infinite' 
        //     })
        // })
    </script>
  </body>
</html>