
    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>		
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <script type="text/javascript" src="{{'/public/js/MyJs.js' | absolute_url }}"></script>

    <script type="text/javascript" src="{{'/public/js/progressJs.js' | absolute_url }}"></script>

    <script type="text/javascript" src="{{ '/public/js/MyResume.js' | absolute_url }} "></script>
    <script type="text/javascript" src="{{ '/public/js/accept.js' | absolute_url }}"></script>
    <script type="text/javascript">
        askYou('{{site.url}}');
    </script>
    <script type="text/javascript" src="{{ '/public/js/emoji.js' | absolute_url }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout(function(){
                $('#post-list').fadeIn(1500).html("<span class='text-success'>Blog List</span> : sebagian tulisan di blog ini hanya membahas seputar trend perkembangan budaya berteknologi di era yang ku lalui.") 
            }, 1500);
        })


        let navbar = document.getElementsByClassName('sidebar-nav-item');
        for(let i=0; i<=navbar.length-1; i++){
           let item = document.getElementsByClassName('sidebar-nav-item')[i].getAttribute('href');
           let url = location.href;
           let baseUrl = "{{site.url}}";

           if(url == baseUrl+item){
                document.getElementsByClassName('sidebar-nav-item')[i].classList.add('active');
           }
        }

        // const header = document.getElementById("navbar");
        // const btns = header.getElementsByClassName("sidebar-nav-item");
        // alert(btns.lengt);
        // for (let i = 0; i < btns.length; i++) {
        //   btns[i].addEventListener("click", function() {
        //     let current = document.getElementsByClassName("active");
        //         current[0].className = current[0].className.replace(" active", "");
        //         this.className += " active";
        //   });
        // }
    </script>
  </body>
</html>