<nav id="navbar" class="sidebar-nav">
	{% for nav in site.data.navigation %}
	   <a href="{{site.url}}{{ nav.url }}" class="sidebar-nav-item {% if nav.url == page.url %} active {% endif %} ">
	      {{ nav.name }}
	   </a>
	{% endfor %}
</nav>

<!-- <nav id="navbar" class="sidebar-nav">
	{% for nav in site.data.navigation %}
	   	<a class="sidebar-nav-item {% if nav.url == page.url %} active {% endif %}" href="{{site.url}}{{nav.url}}">{{nav.text}}</a>
	{% endfor %}
</nav> -->


        
<!--     <a id="about" class="sidebar-nav-item" href="/about/">About</a>  
            
    <a id="project" class="sidebar-nav-item" href="/project/">Projects</a>
            
    <a id="resume" class="sidebar-nav-item" href="/resume/">Resume/CV</a> -->