<div class="row justify-content-center">
    <div class="col-xs-6 col-md">
      <h1 class="text-info">{{page.title2}}</h1>
      <small class="text-danger blockquote-footer mb-4"><b>Arahkan mouse / jari anda ke bagian progress-bar dibawah untuk melihat persentase setiap skill</b></small>
        {% assign data = site.data.about[page.data1] %}
          <h4 class="blockquote-footer">Version Control</h4>
          <label>Git : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Git(version controll) skill = {{data.git}} %" data-progress="git" class="progress-bar progress-bar-striped progress-bar-animated {% if data.git <= 75 %} bg-danger {% else %} bg-success {% endif %}" role="progressbar" aria-valuenow="{{data.git}}" aria-valuemin="0" aria-valuemax="100">{{data.git}}%</div>
            </div>
            {% assign data = site.data.about[page.data2] %}
            <h4 class="blockquote-footer mt-4">Programming Language</h4>
            <label>Javascript : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Javascript Skill = {{data.javascript}} %" data-progress="javascript" class="progress-bar progress-bar-striped progress-bar-animated {% if data.javascript <= 50 %} bg-danger {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.javascript}}" aria-valuemin="0" aria-valuemax="100">{{data.javascript}}%</div>
            </div>
            <label>Python : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Python Skill = {{data.python}} %" data-progress="python" class="progress-bar progress-bar-striped progress-bar-animated {% if data.python <= 50 %} bg-warning {% else %} bg-success {% endif %}" role="progressbar" aria-valuenow="{{data.python}}" aria-valuemin="0" aria-valuemax="100">{{data.python}}%</div>
            </div>
            <label>Ruby : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Ruby Skill = {{data.ruby}} %" data-progress="ruby" class="progress-bar progress-bar-striped progress-bar-animated {% if data.ruby <= 50 %} bg-warning {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.ruby}}" aria-valuemin="0" aria-valuemax="100">{{data.ruby}}%</div>
            </div>
            <label>PHP : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My PHP Skill = {{data.php}} %" data-progress="php" class="progress-bar progress-bar-striped progress-bar-animated {% if data.php <= 50 %} bg-danger{% else %} bg-python {% endif %}" role="progressbar" aria-valuenow="{{data.php}}" aria-valuemin="0" aria-valuemax="100">{{data.php}}%</div>
            </div>
  
            {% assign data = site.data.about[page.data3] %}
            <h4 class="blockquote-footer mt-4">Database </h4>
            <label>Maria DB : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Maria DB Skill = {{data.maria-db}} %" data-progress="maria-db" class="progress-bar progress-bar-striped progress-bar-animated {% if data.maria-db <= 50 %} bg-warning {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.maria-db}}" aria-valuemin="0" aria-valuemax="100">{{data.maria-db}}%</div>
            </div>
            <label>Mongo DB : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Mongo DB Skill = {{data.mongo-db}} %" data-progress="mongo-db" class="progress-bar progress-bar-striped progress-bar-animated {% if data.mongo-db <= 50 %} bg-warning {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.mongo-db}}" aria-valuemin="0" aria-valuemax="100">{{data.mongo-db}}%</div>
            </div>
  
            {% assign data = site.data.about[page.data4] %}
            <h4 class="blockquote-footer mt-4">Framework</h4>
            <label>Express JS : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Express JS Skill = {{data.express}} %"data-progress="express" class="progress-bar progress-bar-striped progress-bar-animated {% if data.express <= 50 %} bg-warning {% else %} bg-danger {% endif %}" role="progressbar" aria-valuenow="{{data.express}}" aria-valuemin="0" aria-valuemax="100">{{data.express}}%</div>
            </div>
            <label>Codeigniter : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Codeigniter Skill = {{data.codeigniter}} %"data-progress="codeigniter" class="progress-bar progress-bar-striped progress-bar-animated {% if data.codeigniter <= 50 %} bg-warning {% else %} bg-danger {% endif %}" role="progressbar" aria-valuenow="{{data.codeigniter}}" aria-valuemin="0" aria-valuemax="100">{{data.codeigniter}}%</div>
            </div>
            <label>Rails : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Rails Skill = {{data.rails}} %" data-progress="rails" class="progress-bar progress-bar-striped progress-bar-animated {% if data.rails <= 50 %} bg-warning {% else %} bg-danger {% endif %}" role="progressbar" aria-valuenow="{{data.rails}}" aria-valuemin="0" aria-valuemax="100">{{data.rails}}%</div>
            </div>
            <label>Laravel : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Laravel Skill = {{data.laravel}} %" data-progress="laravel" class="progress-bar progress-bar-striped progress-bar-animated {% if data.laravel <= 50 %} bg-warning {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.laravel}}" aria-valuemin="0" aria-valuemax="100">{{data.laravel}}%</div>
            </div>
            <label>Django : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Django Skill = {{data.django}} %" data-progress="django" class="progress-bar progress-bar-striped progress-bar-animated {% if data.django <= 50 %} bg-warning {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.django}}" aria-valuemin="0" aria-valuemax="100">{{data.django}}%</div>
            </div>
  
            {% assign data = site.data.about[page.data5] %}
            <h4 class="blockquote-footer mt-4">CMS</h4>
            <label>wordpress : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My wordpress Skill = {{data.wordpress}} %" data-progress="wordpress" class="progress-bar progress-bar-striped progress-bar-animated {% if data.wordpress <= 50 %} bg-warning {% else %} bg-success {% endif %}" role="progressbar" aria-valuenow="{{data.wordpress}}" aria-valuemin="0" aria-valuemax="100">{{data.wordpress}}%</div>
            </div>
            <label>prestashop : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Prestashop Skill = {{data.prestashop}} %" data-progress="prestashop" class="progress-bar progress-bar-striped progress-bar-animated {% if data.prestashop <= 50 %} bg-warning {% else %} bg-success {% endif %}" role="progressbar" aria-valuenow="{{data.prestashop}}" aria-valuemin="0" aria-valuemax="100">{{data.prestashop}}%</div>
            </div>
            <label>joomla : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Joomla Skill = {{data.joomla}} %" data-progress="joomla" class="progress-bar progress-bar-striped progress-bar-animated {% if data.joomla <= 50 %} bg-warning {% else %} bg-success {% endif %}" role="progressbar" aria-valuenow="{{data.joomla}}" aria-valuemin="0" aria-valuemax="100">{{data.joomla}}%</div>
            </div>
  
            {% assign data = site.data.about[page.data6] %}
            <h4 class="blockquote-footer mt-4">Static Site Generator</h4>
            <label>Jekyll : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My jekyll Skill = {{data.jekyll}} % / I Love Jekyll cause simple" data-progress="jekyll" class="progress-bar progress-bar-striped progress-bar-animated {% if data.jekyll <= 50 %} bg-warning {% else %} bg-danger {% endif %}" role="progressbar" aria-valuenow="{{data.jekyll}}" aria-valuemin="0" aria-valuemax="100">{{data.jekyll}}%</div>
            </div>
  
            <label>Gatsby JS : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Gatsby Skill = {{data.gatsby}} %" data-progress="gatsby" class="progress-bar progress-bar-striped progress-bar-animated {% if data.gatsby <= 50 %} bg-warning {% else %} bg-danger {% endif %}" role="progressbar" aria-valuenow="{{data.gatsby}}" aria-valuemin="0" aria-valuemax="100">{{data.gatsby}}%</div>
            </div>
  
            {% assign data = site.data.about[page.data7] %}
            <h4 class="blockquote-footer mt-4">Javascript Library</h4>
            <label>jQuery : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My jquery skill = {{data.jquery}} % / I Love Jquery cause its simple" data-progress="jquery" class="progress-bar progress-bar-striped progress-bar-animated {% if data.jquery <= 50 %} bg-warning {% else %} bg-primary {% endif %}" role="progressbar" aria-valuenow="{{data.jquery}}" aria-valuemin="0" aria-valuemax="100">{{data.jquery}}%</div>
            </div>
  
            <label>React : </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My React Skill = {{data.react}} %" data-progress="react" class="progress-bar progress-bar-striped progress-bar-animated {% if data.react <= 50 %} bg-info {% else %} bg-danger {% endif %}" role="progressbar" aria-valuenow="{{data.react}}" aria-valuemin="0" aria-valuemax="100">{{data.react}}%</div>
            </div>
  
            <label>Vue: </label>
            <div class="progress">
              <div data-toggle="tooltip" data-placement="top" title="My Vue Skill = {{data.vue}} %" data-progress="vue" class="progress-bar progress-bar-striped progress-bar-animated {% if data.vue <= 50 %} bg-warning {% else %} bg-success {% endif %}" role="progressbar" aria-valuenow="{{data.vue}}" aria-valuemin="0" aria-valuemax="100">{{data.vue}}%</div>
            </div>
  
  
      </div>
  
    </div>