 <div class="row">
    
    <div class="col">
      
      <div class="theme-switch-wrapper">
        
        <label class="theme-switch" for="checkbox">

          <input type="checkbox" id="checkbox">
          
          <div class="slider round"></div>

        </label>

        <em class="space">Space animated mode !</em>

      </div>

          <audio id="space-sound" loop>
            <source src="{{ '/public/space-sound.mp3' | absolute_url }}" type="audio/mpeg" >
          </audio>

    </div>

  </div>