
h2{
    color: #fff;
}
.portfolioContent {
    max-width:1400px;
}
.avatarImg{
    width:100%;
}


.english {
    height:24px;width:100%;
}

.spanish {
    height:24px;width:55%;
}

.german {
    height:24px;width:25%;
}

.static {
    position: fixed;
    top: 0;
    width: 100%;
}
