
h2{
    color: #fff;
}
.portfolioContent {
    max-width:1400px;
}
.avatarImg{
    width:100%;
}

.php {
    width:95%;
}
.node {
    width:75%;
}

.python {
    width:85%;
}
.ruby {
    width: 65%;
}

.markup{
    width:100%;
}

.framework {
    width:90%;
}

.design {
    width:95%;
}
.itSupport{
    width: 100%;
}

.english {
    height:24px;width:100%;
}

.spanish {
    height:24px;width:55%;
}

.german {
    height:24px;width:25%;
}

.static {
    position: fixed;
    top: 0;
    width: 100%;
}