---
layout: page
---
<style type="text/css">
    .speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
  }
  
  .speech-bubble:after {
    content: 'halo';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 68px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -34px;
    margin-bottom: -68px;
  }
  .is-visible {
    display: block;
    height: auto;
    opacity: 1;
  }
  /*.fade {
      opacity: 0;
      transition: none;
  }*/
  
  </style>
  
{% include about.html %}

{% include progress.html %}