.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 98%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
  margin-top:.6rem;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}