@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
	font-family: 'Source Code Pro', monospace;
}

// a[href] {
// 	color: 4000;
// }

.container{
	width: 1200px;
	margin: 0 auto;
}

.navbar {
	margin-top: 25px;
	.navbar-sticky {
	  background: #333;
	  position: fixed;
	  top: 0;
	  left: 0;
	  box-shadow: 1px 1px 1px #222;
	  animation: moveDown 0.5s ease-in-out;
	}

	.container{
		display: flex;
	}

	.logo{
		font-size: 28px;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 600;
		text-decoration: none;
	}

	.nav-links{
		margin-top:1rem;
		display: flex;
		margin-left: auto;
		list-style: none;
		a[href]{
			position:relative;
			display: inline-block;
			margin-left:20px;
			margin-right: 20px;
			text-decoration: none;
			transition: opacity .3s;

			&.active {
				font-weight: 700;

				&:after{
					content:'';
					position: absolute;
					bottom:20px;
					left:0;
					width:40px;
					height:2px;
					background-color:#00C;
				}
			}
			&:hover{
				opacity: .5;
			}
		}
	}
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}

.hero{
	padding-top: 87px;
	// padding-bottom: 15px;
	.container{
		display: flex;
		align-item: center;
		width:1024px;
	}
	.text-wrapper{
		width: 50%;

		.title{
			font-size: 48px;
			margin-top: 0;
			margin-bottom: 10px;
		}

		.description{
			font-size:22px;
			line-height: 40px;
		}
		.cta{
			display: inline-block;
			padding: 15px 45px;
			margin-top: 20px;
			background: #000;
			color:#fff;
			text-decoration: none;
			border-radius: 5px;
			transition: transform .1s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.image-wrapper{
		width: 50%;
		text-align: right;
	}
}